node_modules/
.env
*.log
.DS_Store
uploads/
public/uploads/
backend/uploads/
frontend/uploads/
dist/
build/
.vscode/
.idea/
st-cecilia-choir-htcc-naze-d7f5ae628c55.json/st-cecilia-choir-htcc-naze-d7f5ae628c55.json
*.json
